Voici ci-joint la liste des librairies à installer pour 
faire fonctionner l'application : (Pour python3)

- tkinter 
- nibabel
- matplotlib
- PIL
- numpy
- networkx
- scikit-image
- scipy
- scikit-learn
- opencv (cv2)